body {
    margin: auto;
    width: min(90vw, 750px);
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin: 0;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    background: #04A1BF;
    text-align: center;
    padding: 1%;
}

#form-container {

    max-width: 50%;
    margin: auto;
}

h1 {
    color: white;
}

form input,
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    resize: none;
}

form button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, .5);
}

.name-input-container {
    justify-content: space-between;
    margin-bottom: 1vw;
}

#name-input {
    width: max-content;
}

#count {
    color: aliceblue;
    justify-content: right;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.column {
    background-color: whitesmoke;
    border: 1px solid black;
    text-align: center;
    height: calc(100% + 200px);
}

#center-column {
    border-left: 0;
    border-right: 0;
}

p {
    font-size: 0.9rem;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0;
}

ul li a {
    overflow-wrap: break-word;
    text-decoration: none;
    color: #000;
    background-color: light;
    display: block;
    width: 9em;
    height: 9em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.delete {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom:0;
    right:0;
}

ul li {
    margin: 1em;
}

ul li a:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    cursor: grab;
}

li button:hover {
    cursor: pointer;
    transform: scale(1.25);
}